<div class="row mt-4">

    <div class="col-4">
        <div class="card h-100">
            <div class="card-header">
                <h5>Patients les plus consultés</h5>
            </div>
            <div class="card-body">
                <canvas id="patientsChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card h-100">
            <div class="card-header">
                <h5>Médicaments les plus prescrits</h5>
            </div>
            <div class="card-body">
                <canvas id="medicamentsChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card h-100">
            <div class="card-header">
                <h5>Antécédents les plus fréquents</h5>
            </div>
            <div class="card-body">
                <canvas id="medicalHistoryChart"></canvas>
            </div>
        </div>
    </div>

</div>

<div class="row my-4">

    <div class="col-6">
        <div class="card h-100">
            <div class="card-header">
                <h5>Nombre de patients par catégories d'âge</h5>
            </div>
            <div class="card-body">
                <canvas id="patientByAgeChart"></canvas>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card h-100">
            <div class="card-header">
                <h5>Nombre de médicaments</h5>
            </div>
            <div class="card-body">
                <canvas id="medicamentCountCharts"></canvas>
            </div>
        </div>
    </div>

</div>
</div>
<script>
    const MedicamentData = @Html.Raw(Json.Serialize(ViewBag.MedicamentData));
    const MedicamentLabels = @Html.Raw(Json.Serialize(ViewBag.MedicamentLabels));

    const MedicamentCtx = document.getElementById('medicamentsChart').getContext('2d');
    const MedicamentChart = new Chart(MedicamentCtx, {
        type: 'pie',
        data: {
            labels: MedicamentLabels, // Labels
            datasets: [{
                label: 'Médicaments',
                data: MedicamentData, // Les données
                borderColor:
                    [
                        'rgba(255, 159, 64, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                backgroundColor:
                    [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>
<script>
    const patientData = @Html.Raw(Json.Serialize(ViewBag.PatientData));
    const patientLabels = @Html.Raw(Json.Serialize(ViewBag.PatientLabels));

    const patientCtx = document.getElementById('patientsChart').getContext('2d');
    const patientCharts = new Chart(patientCtx, {
        type: 'pie',
        data: {
            labels: patientLabels, // Labels
            datasets: [{
                label: 'Patients',
                data: patientData, // Les données
                borderColor:
                    [
                        'rgba(255, 159, 64, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                backgroundColor:
                    [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>
<script>
    const medicalHistoryData = @Html.Raw(Json.Serialize(ViewBag.MedicalHistoryData));
    const medicalHistoryLabels = @Html.Raw(Json.Serialize(ViewBag.MedicalHistoryLabels));

    const medicalHistoryCtx = document.getElementById('medicalHistoryChart').getContext('2d');
    const medicalHistoryCharts = new Chart(medicalHistoryCtx, {
        type: 'pie',
        data: {
            labels: medicalHistoryLabels, // Labels
            datasets: [{
                label: 'Antécédents',
                data: medicalHistoryData, // Les données
                borderColor:
                    [
                        'rgba(255, 159, 64, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                backgroundColor:
                    [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>
<script>
    const patientByAgeData = @Html.Raw(Json.Serialize(ViewBag.PatientByAgeData));
    const patientByAgeLabels = @Html.Raw(Json.Serialize(ViewBag.PatientByAgeLabels));

    const patientByAgeCtx = document.getElementById('patientByAgeChart').getContext('2d');
    const patientByAgeCharts = new Chart(patientByAgeCtx, {
        type: 'bar',
        data: {
            labels: patientByAgeLabels, // Labels
            datasets: [{
                label: 'Patients',
                data: patientByAgeData, // Les données
                borderColor:
                    [
                        'rgba(255, 159, 64, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                backgroundColor:
                    [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>
<script>
    const medicamentCountData = @Html.Raw(Json.Serialize(ViewBag.MedicamentCountData));
    const medicamentCountLabels = @Html.Raw(Json.Serialize(ViewBag.MedicamentCountLabels));

    const medicamentCountCtx = document.getElementById('medicamentCountCharts').getContext('2d');
    const medicamentCountCharts = new Chart(medicamentCountCtx, {
        type: 'bar',
        data: {
            labels: medicamentCountLabels, // Labels
            datasets: [{
                label: 'Médicaments',
                data: medicamentCountData, // Les données
                borderColor:
                    [
                        'rgba(255, 159, 64, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                backgroundColor:
                    [
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>