@model PatientViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<h1>Éditer un patient</h1>

<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Patient.Id" />

    <div class="form-group">
        <label asp-for="Patient.FirstName" class="control-label"></label>
        <input asp-for="Patient.FirstName" class="form-control" />
        <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.LastName" class="control-label"></label>
        <input asp-for="Patient.LastName" class="form-control" />
        <span asp-validation-for="Patient.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Age" class="control-label"></label>
        <input asp-for="Patient.Age" class="form-control" />
        <span asp-validation-for="Patient.Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <select asp-for="Patient.Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" class="form-control">
            <option value="">Selectionner le genre</option>
        </select>
        @* ajout de message d'erreur de validation inline pour chaque propriete individuellement *@
        <span asp-validation-for="Patient.Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Height" class="control-label"></label>
        <input asp-for="Patient.Height" class="form-control" />
        <span asp-validation-for="Patient.Height" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Weight" class="control-label"></label>
        <input asp-for="Patient.Weight" class="form-control" />
        <span asp-validation-for="Patient.Weight" class="text-danger"></span>
    </div>

    </div>
    <input asp-for="@Model.DoctorId" type="hidden" class="form-control" />
    <div>

    </div>
    <input asp-for="Patient.DoctorId" type="hidden" class="form-control" />
    <div>


    <h4>Allergies</h4>
    <div class="form-group">
        @foreach (var allergy in Model.Allergies)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedAllergyIds" value="@allergy.Id"
                @(Model.SelectedAllergyIds != null && Model.SelectedAllergyIds.Contains(allergy.Id) ? "checked" :
                    "") />
                <label class="form-check-label">@allergy.Name</label>
            </div>
        }
    </div>

    @* <div class="form-group">
        @Html.LabelFor(model => model.SelectedMedicalHistoryIds, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.ListBoxFor(model => model.SelectedMedicalHistoryIds, new MultiSelectList(Model.DrpMedicalHistories,
                    "Value", "Text"), new
                    {
                        @class = "form-control",
                        multiple = "multiple",
                        id = "MedicalHistories_dropdown",
                        name = "SelectedMedicalHistoryIds"
                    })
        </div>
    </div> *@

    <h4>Antécédents</h4>
    <div class="form-group">
        @foreach (var medicalHistory in Model.MedicalHistories)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedMedicalHistoryIds" value="@medicalHistory.Id"
                @(Model.SelectedMedicalHistoryIds != null &&
                    Model.SelectedMedicalHistoryIds.Contains(medicalHistory.Id) ? "checked" : "") />
                <label class="form-check-label">@medicalHistory.Name</label>
            </div>
        }
    </div>

    @* <div class="form-group">
        @Html.LabelFor(model => model.SelectedAllergyIds, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-6">
            @Html.ListBoxFor(model => model.SelectedAllergyIds, new MultiSelectList(Model.DrpAllergies,
                    "Value", "Text"), new
                    {
                        @class = "form-control",
                        multiple = "multiple",
                        id = "Allergies_dropdown",
                        name = "SelectedAllergyIds"
                    })
    </div> *@

    <div class="form-group">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </div>  


</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#MedicalHistories_dropdown').multiselect();
        });
        $(document).ready(function () {
            $('#Allergies_dropdown').multiselect();
        });
    </script>
}