@model List<Patient>

<div class="d-flex justify-content-center">
    <div class="card shadow rounded" style="width: 100%; max-width: 15000px;">
        <div class="card-header text-center" style="width: 100%;">
            <h1 class="mb-0">Liste des patients :</h1>
        </div>
        <div class="card-body">
            <div class="container text-center">
                <form class="d-flex" role="search" asp-controller="Patient" asp-action="Find" method="get">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" type="text"
                        name="SearchString" />
                    <button class="btn btn-outline-primary" type="submit" value="Filter">Rechercher</button>
                </form>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Âge</th>
                                    <th scope="col">Taille</th>
                                    <th scope="col">Poids</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Modifier</th>
                                    <th scope="col">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var patient in Model)
                                {
                                    <tr>
                                        <td>@patient.FirstName</td>
                                        <td>@patient.LastName</td>
                                        <td>@patient.Age</td>
                                        <td>@patient.Height CM</td>
                                        <td>@patient.Weight KG</td>
                                        <td><a asp-action="ShowDetails" asp-route-id="@patient.Id"><i
                                                    class="bi bi-file-earmark-text"></i></a></td>
                                        <td><a asp-action="Edit" asp-route-id="@patient.Id"><i class="bi bi-pen"></i></a>
                                        </td>
                                        <td><a type="button" data-toggle="modal" data-target="#supprModal@{
                                                @Html.DisplayFor(p => patient.Id)
                                            }" class="text-primary">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <div class="modal fade" tabindex="-1" id="supprModal@{
                                                    @Html.DisplayFor(p => patient.Id)
                                                }" aria-labelledby="modalLabelSuppr" aria-hidden="true">>
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Êtes-vous sûr de supprimer 
                                                                @patient.FirstName
                                                                @patient.LastName ?</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Veuillez confirmer ci-dessous.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Fermer</button>
                                                            <form asp-action="Delete" asp-route-id="@patient.Id"
                                                                method="get"><button
                                                                    class="btn btn-danger">Confirmer</button></form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-5">
                        <a asp-action="Add" asp-route-id="" type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            Ajouter un patient
                        </a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
