@using MEDManager.ViewModel;
@model MedicamentViewModel

<div class="container py-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 100%; max-width: 15000px;">
            <div class="card-header text-center" style="width: 100%;">
                <h1 class="mb-0">Modifier un médicament :</h1>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Medicament" method="post">
                    <input asp-for="@Model.MedicamentId" type="hidden" /> 
                    <div class="form-group">
                        <label asp-for="@Model.Name"></label> <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="@Model.Quantity"></label> <input asp-for="@Model.Quantity" class="form-control" />
                        <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                    </div> 
                    <div class="form-group">
                        <label asp-for="@Model.Ingredients"></label> <input asp-for="@Model.Ingredients" class="form-control" />
                        <span asp-validation-for="@Model.Ingredients" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedMedicalHistoryIds, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-6">
                            @Html.ListBoxFor(model => model.SelectedMedicalHistoryIds, new MultiSelectList(Model.DrpMedicalHistories,
                                    "Value", "Text"), new
                                    {
                                        @class = "form-control",
                                        multiple = "multiple",
                                        id = "MedicalHistories_dropdown"
                                    })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedAllergyIds, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-6">
                            @Html.ListBoxFor(model => model.SelectedAllergyIds, new MultiSelectList(Model.DrpAllergies,
                                    "Value", "Text"), new
                                    {
                                        @class = "form-control",
                                        multiple = "multiple",
                                        id = "Allergies_dropdown"
                                    })
                        </div>
                    </div>
                    <input type="submit" value="Sauvegarder" class="btn btn-primary" />
                    <input type="button" onclick="history.back()" value="Retour" class="btn btn-secondary" />
                </form>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#MedicalHistories_dropdown').multiselect({
                maxHeight: 400,
            });
        });
        $(document).ready(function () {
            $('#Allergies_dropdown').multiselect({
                maxHeight: 400,
            });
        });
    </script>
}
