@model IEnumerable<Medicament>
@{


    <head>
        <title>Index</title>
    </head>


    <div class="container text-center">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <h1>Afficher ici la liste des médicaments :</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Ingrédients</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var medicament in Model)
                        {
                            <tr>
                                <td>@medicament.Name</td>
                                <td>@medicament.Quantity</td>
                                <td>@medicament.Ingredients</td>
                                <td><a asp-action="ShowDetails" asp-route-id="@medicament.Id"><i
                                            class="bi bi-file-earmark-text"></i></a></td>
                                <td><a asp-action="Edit" asp-route-id="@medicament.Id"><i class="bi bi-pen"></i></a></td>
                                <td><a asp-action="Delete" asp-route-id="@medicament.Id"><i class="bi bi-trash3"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-5">
                <a asp-action="Add" asp-route-id="" type="button" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Ajouter un médicament
                </a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

}
